* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(232, 232, 232);
    font-family: 'Lato', sans-serif;
}

.resume {
    padding: 2px;
    max-width: 8.5in;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 1);
}

.resume > div {
    margin: 20px;
    background-color: rgba(18, 119, 50, 0.1);
}

.resume > div > h1 {
    padding: 2px;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background: linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.resume ul {
    padding: 2px;
    list-style: square inside;
}

.resume div#experience > div > h1 {
    font-size: 1.5em;
}

.resume div#activities > div:nth-child(n) {
    vertical-align: top;
}

.resume div#activities > div > div + div {
    width: auto;
    padding-left: 0.1em;
    margin: auto;

}

